myenv/
__pycache__/
.vscode/launch.json
start_tracker.bat
robot.log
tracker.log
models/
robot.log
temp_tracker.avi
tracker.avi
tracker_obs.avi
tracker.mp4
.VSCodeCounter/
.vscode/c_cpp_properties.json
records/
records_bk/
ffmpeg/ffmpeg.exe
.vscode/c_cpp_properties.json
